.header .container {
  width: 1020px;
  padding: 30px 0;
}

.header .container .logo {
  float: left;
  border-right: 1px solid #ccc;
}

.header .container .logo a {
  display: block;
}

.header .container .login_l {
  float: left;
  line-height: 70px;
  height: 70px;
  padding: 0 20px;
  font-size: 26px;
}

.zhuce {
  background: #eee;
}

.zhuce .container {
  width: 1020px;
  padding: 30px 0;
}

.zhuce .container .iform {
  background: #fff;
  border: 1px solid #ccc;
}

.zhuce .container .iform .line {
  border-top: 1px solid #ccc;
  background: #eee;
  height: 40px;
  width: 100%;
}

.zhuce .container .iform li {
  padding: 0 30px;
  line-height: 40px;
  width: 600px;
}

.zhuce .container .iform li span {
  text-align: right;
  width: 80px;
}

.zhuce .container .iform li input {
  border: 1px solid #ccc;
  height: 30px;
  width: 300px;
}

.zhuce .container .iform .op {
  text-align: center;
  margin-bottom: 30px;
}

.zhuce .container .iform .op .denglu {
  width: 120px;
  height: 40px;
}
